@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Varela+Round&display=swap');

.err_title {
    margin: 0 ;
    font-family: 'Archivo Black', sans-serif;
    font-size: 100px;
    font-weight: 800;
    
}
@media screen and (min-width: 600px) {

    .err_title {
        margin: 0 ;
        font-family: 'Archivo Black', sans-serif;
        font-size: 50px;
        font-weight: 800;
        
    }

}
