
@import './additional/colors.css';


:root {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  
}

*{
  
}
#root{
  width: 100%;
  
  
}
html{
  transition: all 100ms;
 
}
body {
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
  background-color: var(--background-color);
  background-image: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;


  margin-top: 80px;
  padding-top: 100px;

  width: 100%;
  min-height: 100vh;
  height: 100%;
}

a{
  text-decoration: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-color);
  color: var(--button-text);
  cursor: pointer;
  transition: border-color 0.25s;
  transition: all 400ms;
}
button:hover {
  background-color: var(--button-color2);
  border: 1px solid var(--button-border);
  color: var(--button-text-c);
  transition: all 300ms;
}
button:focus,
button:focus-visible {
  background-color: var(--button-color);
  border: 1px solid var(--button-border);
  color: var(--button-text);
  transition: all 300ms;
  
}


